---
import '../styles/global.css';
import Navigation from '../components/Navigation';

interface Props {
	title: string;
    navTheme?: 'light' | 'dark';
}

const { title, navTheme = 'dark' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Feria de Ciencias del ITESO - FECIIT 2026" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white text-feciit-dark min-h-screen flex flex-col font-sans antialiased selection:bg-feciit-blue selection:text-white">
		<Navigation client:load theme={navTheme} />
		<slot />
	</body>
</html>
